{% extends "home/base.html" %}

{% block home %}
{% load staticfiles %}

<img src="{% static 'img/headers/girlwhite.png' %}" class="responsive" alt="Responsive image">

<div class="ui raised padded text container segment">
  <h2 class="ui header">The new osu! Server List</h2>
  <p>This is the new osu! Server List hosted by Enjuu written in Python Django. Here are listed all currently found osu! Servers. I don't care how many Users there have. If you want to add your Server <a href="/add/server">Add your Server</a></p>
  <p>Support us here!</p>
  <a href="https://github.com/MarcPlaying/osu-Server-List">
  <button class="ui labeled icon button">
    <i class="github icon"></i>
    GitHub
  </button></a>
  <a href="https://twitter.com/OEnjuu">
  <button class="ui labeled icon button">
    <i class="twitter icon"></i>
    Twitter
  </button></a>
  <a href="https://enjuu.click">
  <button class="ui labeled icon button">
    <i class="server icon"></i>
    Enjuu
  </button></a>
</div>

{% endblock %}
