{% extends "home/base.html" %}

{% block home %}
{% load staticfiles %}

<img src="{% static 'img/headers/home.png' %}" class="responsive" alt="Responsive image">

<div class="ui raised padded text container segment">

  <h1 id="soos">Servers:</h1>

<div class="ui link cards">
  <div class="ui centered card">
    <div class="image">
      <img src="https://enjuu.click/static/logos/logo-blue.png">
    </div>
    <div class="content">
      <div class="header">Enjuu</div>
      <div class="meta">
        <a>STD, AP, RX PP</a>
      </div>
      <div class="description">
        Enjuu is a osu! Private Server that exist since January. Featuring RX and many more Features.
        <br>
        <a href="/ref?s=enjuu.click">
        <button class="ui basic button">
          <i class="globe icon"></i>
          Go To Website
        </button>
        </a>
        <a href="https://twitter.com/OEnjuu"><button class="ui basic button"><i class="twitter icon"></i></button></a>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        06.06.2018
      </span>
      <span>
        <i class="user icon"></i>
        317 Users in Leaderboard
      </span>
    </div>
  </div>
</div>

<div class="ui link cards">
  <div class="ui centered card">
    <div class="image">
      <img src="https://marc.enjuu.click/download/1482369.png">
    </div>
    <div class="content">
      <div class="header">Ripple</div>
      <div class="meta">
        <a>STD PP</a>
      </div>
      <div class="description">
        Ripple is the Private Server with the most Users.
        <br>
        <a href="/ref?s=ripple.moe">
        <button class="ui basic button">
          <i class="globe icon"></i>
          Go To Website
        </button>
        </a>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        03.06.2018
      </span>
      <span>
        <i class="user icon"></i>
        8688 Users in Leaderboard
      </span>
    </div>
  </div>
</div>

<div class="ui link cards">
  <div class="ui centered card">
    <div class="image">
      <img src="https://marc.enjuu.click/download/1930773.png">
    </div>
    <div class="content">
      <div class="header">Akatsuki</div>
      <div class="meta">
        <a>STD & RX PP</a>
      </div>
      <div class="description">
        Akatsuki is Features Relax and STD PP
        <br>
        <a href="/ref?s=akatsuki.pw">
        <button class="ui basic button">
          <i class="globe icon"></i>
          Go To Website
        </button>
        </a>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        03.06.2018
      </span>
      <span>
        <i class="user icon"></i>
        1679 Users in Leaderboard
      </span>
    </div>
  </div>
</div>

<div class="ui link cards">
  <div class="ui centered card">
    <div class="image">
      <img src="https://marc.enjuu.click/download/9381005.png">
    </div>
    <div class="content">
      <div class="header">Gatari</div>
      <div class="meta">
        <a>STD PP</a>
      </div>
      <div class="description">
        Gatari is a Russian osu Server. With a nice Clan System
        <br>
        <a href="/ref?s=osu.gatari.pw?">
        <button class="ui basic button">
          <i class="globe icon"></i>
          Go To Website
        </button>
        </a>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        03.06.2018
      </span>
      <span>
        <i class="user icon"></i>
        6778 Users in Leaderboard
      </span>
    </div>
  </div>
</div>


<div class="ui link cards">
  <div class="ui centered card">
    <div class="image">
      <img src="https://marc.enjuu.click/download/2325559.png">
    </div>
    <div class="content">
      <div class="header">Vipsu</div>
      <div class="meta">
        <a>STD own weightend PP</a>
      </div>
      <div class="description">
        Vipsu is a small and new osu! Private Server
        <br>
        <a href="/ref?s=vipsu.ml">
        <button class="ui basic button">
          <i class="globe icon"></i>
          Go To Website
        </button>
        </a>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        03.06.2018
      </span>
      <span>
        <i class="user icon"></i>
        16 Users in Leaderboard
      </span>
    </div>
  </div>
</div>

<div class="ui link cards">
  <div class="ui centered card">
    <div class="image">
      <img src="https://marc.enjuu.click/download/3832546.png">
    </div>
    <div class="content">
      <div class="header">SkyCircles</div>
      <div class="meta">
        <a>STD PP</a>
      </div>
      <div class="description">
        SkyCircles is a new Russian osu Server
        <br>
        <a href="/ref?s=skycircles.ru">
        <button class="ui basic button">
          <i class="globe icon"></i>
          Go To Website
        </button>
        </a>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        03.06.2018
      </span>
      <span>
        <i class="user icon"></i>
        78 Users in Leaderboard
      </span>
    </div>
  </div>
</div>

<div class="ui link cards">
  <div class="ui centered card">
    <div class="image">
      <img src="https://marc.enjuu.click/download/6312014.png">
    </div>
    <div class="content">
      <div class="header">Gigamons</div>
      <div class="meta">
        <a>RX&TD PP</a>
      </div>
      <div class="description">
        Seperate RX Scoreboard and leaderboard.
        Seperate TD Scoreboard and leaderboard.
        Trollerino.
        All default bancho stuff, such as beatmap submittion.
        A few comming soon. (written by owner)
        <br>
        <a href="/ref?s=gigamons.de">
        <button class="ui basic button">
          <i class="globe icon"></i>
          Go To Website
        </button>
        </a>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        06.06.2018
      </span>
      <span>
        <i class="user icon"></i>
        NONE Users in Leaderboard
      </span>
    </div>
  </div>
</div>

<div class="ui link cards">
  <div class="ui centered card">
    <div class="image">
      <img src="https://marc.enjuu.click/download/4484948.png">
    </div>
    <div class="content">
      <div class="header">XII</div>
      <div class="meta">
        <a>STD PP</a>
      </div>
      <div class="description">
        XII is a small and new osu Server
        <br>
        <a href="/ref?s=osu.xii.nz">
        <button class="ui basic button">
          <i class="globe icon"></i>
          Go To Website
        </button>
        </a>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        03.06.2018
      </span>
      <span>
        <i class="user icon"></i>
        19 Users in Leaderboard
      </span>
    </div>
  </div>
</div>

</div>

<div class="ui inverted vertical footer segment form-page">
<div class="ui container">
  Kazuki's List! All Rights Reserved
</div>
</div>

{% endblock %}
